<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97cf78">  <td>19/07/28 15:37:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ITTDbTest.projectSetup()[pri:0, instance:db.ittdb.ITTDbTest@457e2f02]">&gt;&gt;projectSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>19/07/28 15:37:21</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ITTDbTest.save_nonNullObject_shouldGetSaved()[pri:1, instance:db.ittdb.ITTDbTest@457e2f02]">save_nonNullObject_shouldGetSaved</td> 
  <td>main@1072601481</td>   <td></td> </tr>
</table>
